@model KisKonyvtarNyilvantartas01.Models.Konyvek

@{
    ViewData["Title"] = "Details";
}

<h1>Részletek</h1>

<div>
    <h4>Könyvek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Szerzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Szerzo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mufaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mufaj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Szerkesztés</a> |
    <a asp-action="Index">Vissza a listához</a>
</div>
